/////////////////////////////////////////////////
// Form config
/////////////////////////////////////////////////

// Features (set true to include and false to exclude)
$button_default: true;
$button_outline: true;
$button_group: true;
$text-input_default: true;
$checkbox_default: true;
$checkbox_filled: true;
$switch_default: true;
$switch_doted: true;
$switch_ios: true;
$input-group_feature_collapse: true;

// Common colour settings
$inputs_color_background: $color_bg;
$inputs_color_border: lighten($color_text, 60%);
$inputs_color_foreground: $color_text;
$inputs_color_button-text: #fff;
$inputs_color_primary: $color_brand;
$inputs_color_additional: $color_additional;

// Defaul input size settings
$inputs_height: 9 * $unit;
$inputs_padding-horizontal: $inputs_height * 0.35;

// Buttons
$button_font-size: 14px;
$button_border-radius: 0;
$button_border-width: 0;
$button_outline_border-width: 2px;

// Text inputs
$text-input_font-size: 14px;
$text-input_line-height: $base_line-height * $text-input_font-size;
$text-input_border-radius: 0;
$text-input_text-align: left;
$text-input_border-width: 2px;

// Checkbox and radio
$checkbox_size: 1.6rem;
$checkbox_border-width: .2rem;
$checkbox_border-radius: .2rem;
$checkbox_font-size: $base_font-size - .2rem;
$checkbox_line-height: $base_line-height;

// Form label
$form-label_color: get-color(text-secondary);
$form-label_font-family: $base_font-family;
$form-label_font-size: 12px;
$form-label_line-height: 100%;
$form-label_font-style: italic;
$form-label_font-weight: normal;

// Form text
$form-text_color: get-color(text-secondary);
$form-text_font-family: $base_font-family;
$form-text_font-size: 13px;
$form-text_line-height: 100%;
$form-text_font-style: normal;
$form-text_font-weight: normal;

// Switch
$switch_width: 50px;
$switch_height: 30px;
$switch_border-width: 1px;
$switch_border-color: transparent;
$switch_label_font-size: $base_font-size - 2rem;
$switch_label_font-style: normal;
$switch_label_font-weight: normal;

// Input group appendix
$input-group_appendix_color_background: lighten($inputs_color_border, 10%);
$input-group_appendix_color_border: $inputs_color_border;
$input-group_appendix_color_text: $inputs_color_foreground;
